@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body{
    background-color: black;
    color: white;
    overflow: hidden;
    box-sizing: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: montserrat;
}
 .hero-section{
    display: flex;
}
.leftprt{
    width: 55vw;
    /* margin: 0 8px; */
}
.rightprt{
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
} 
.nav{
    padding: 10px;
    height: 40px;
    margin: 0;
}
ul{
   /*  margin: 5px 0; */
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
li{
    list-style: none;
}
li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
}
.signupbtn{
    background-color: rgb(255, 230, 0);
    border-radius: 18px;
    border-style: none;
    margin-top:0;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.contentbody{
    text-align: left;
    margin-left: 100px;
}
.contentbody h1{
    font-family: poppins;
    font-size: 70px;
    padding-top: 60px;
}
.contentbody .talent{
    color:rgb(255, 230, 0) ;
}
.contentbody h3{
    font-size: 15px;
    font-weight: lighter;

}
.contentbody .lorem{
    font-weight: bold;
}
.fill input{
    border-style: none;
    border-radius: 20px;
    width: 400px;
    background-color: rgba(46, 46, 46, 0.418);
    color: #c4c4c4;
    padding: 10px;
}
.fill input::placeholder{
    padding-left:8px ;
    font-size: 13px;
    font-weight: 800;
}
.fill .joinbtn{
    border-radius: 20px;
    border-style: none;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 230, 0);
}
/* secondprt */
.mem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 130px;
    background-color: rgba(46, 46, 46, 0.233);
    padding: 35px;
    border-radius: 40px;
    margin: 15px 0;
}
.mem img{
    width: 90px;
    height: 90px;
    border-radius: 30px;
}
.mem .name{
    font-family: montserrat;
    font-size: 12px;
   margin-top: 25px;
}
.mem span{
    font-family: montserrat;
    font-weight: 100;
    margin-top: 10px;
    font-size: 10px;
}

@media screen and (max-width : 768px){
    body{
        overflow-y:scroll ;
    }
    .hero-section{
        flex-direction: column;
    }
    .rightprt, .leftprt{
        width: 100vw;
    }
    li a{
        font-size: 13px;
    }
    .signupbtn{
        font-size: 11px;
    }
    .contentbody{
        margin-left: 70px;
    }
    .contentbody h1{
        font-size: 35px;
        padding-top: 28px;
    }
    .contentbody h3{
        font-size: 13px;
        flex-wrap: wrap;
    }
    .fill input{
        width: 250px;
    }
    .fill::placeholder {
        font-size: 10px;
    }   
    .fill .joinbtn{
        margin: 0 5px;
        padding: 10px;
        font-size: 12px;
    }
    .mem{
        width: 90px;
        height: 100px;
        padding: 28px;
        margin: 19px 0;
    }
    .mem img{
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .mem .name{
        font-size: 10px;
       margin-top: 25px;
    }
}
/* @media screen and (min-width : 768px){
    .mem{
        width: 90px;
        height: 100px;
        padding: 26%;
        margin: 19px 0;
        margin-right: auto;
    }
    .mem img{
        width: 80%;
        height: 90%;
        border-radius: 10px;
    }
} */